.hobbies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94%;
}

.hobbies__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;

}

.hobbies__box {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem; 
    flex-grow: 5;
}

.hobbies__img {
    width: 32px;
    height: 37px;
}

.hobbies__box:hover {
    border-radius: 1rem;
    transition: 2s;
    transform: scale(1.5,1.5);
}

@media (max-width: 576px) { 
    .hobbies {
        display: flex;
        flex-direction: column;
    }

    .hobbies__title {
        font-size: 1.5rem;
        text-align: start;
    }

    .hobbies__line {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .hobbies__box {
        margin-top: 4px;
    }
}

@media (max-width: 768px) {

}