/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 

  body {
    font-family: sans-serif;

  }

  nav {
    background: #222;
    padding: 5px 20px;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .logo a:hover {
    text-decoration: none;
  }

  .menu li {
    font-size: 1.2rem;
    padding: 15px 5px;
    white-space: nowrap;
  }

  .logo a,
  .toggle a {
    font-size: 2rem;
  }

  li img {
    width: 25px;
    height: 25px;
    position: relative;
    position: relative;
    top: 7px;
  }

  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  .logo i {
    margin-right: 1rem;
  }


  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .toggle {
    order: 1;
  }

  .item.button {
    order: 2;
  }

  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }

  .item.active {
    display: block;
  }

  .logo a,
  .toggle a {
    font-size: 1.2rem;
  }

  .menu li {
    font-size: 1rem;
  }


  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }

    .logo {
      flex: 1;
      position: relative;
      margin-right: 3rem;
    }

    .toggle {
      flex: 1;
      text-align: right;
    }

    .item.button {
      width: auto;
      order: 1;
      display: block;
    }

    .toggle {
      order: 2;
    }

    .button.secondary {
      border: 0;
    }

    .button a {
      padding: 7.5px 15px;
    }

    .logo a,
    .toggle a {
      font-size: 1.5rem;
    }

    .menu li {
     font-size: 1.2rem;
    }
  
  }


  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }

    .toggle {
      display: none;
    }

    .logo {
      order: 0;
    }

    .item {
      order: 1;
    }

    .button {
      order: 2;
    }

    .menu li {
      padding: 15px 10px;
    }
    
    .menu li.button {
      padding-right: 0;
    }
  }